<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://websitex7qn2bz5c4mdc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>websitex7qn2bz5c4mdc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webSitex7qn2bz5c4mdc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$webSitex7qn2bz5c4mdc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ContosoAdsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sqlserverx7qn2bz5c4mdc.database.windows.net,1433;Initial Catalog=SampleDB;User ID=chinzilla@sqlserverx7qn2bz5c4mdc;Password=Pa$$W0rd12345" Name="Data Source=tcp:sqlserverx7qn2bz5c4mdc.database.windows.net,1433;Initial Catalog=SampleDB;User Id=chinzilla@sqlserverx7qn2bz5c4mdc;Password=Pa$$W0rd12345" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoAdsCommon.ContosoAdsContext, ContosoAdsCommon" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AzureWebJobsStorage" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=chinx7qn2bz5c4mdc;AccountKey=ZjXD8+goLbWNr2zVEytfYZsAgbj+KIhfSVqciuZZC78WiqaYE+1gOzZVrizphnxFFNGQjAm0z6y5CXzN7TNouA==;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AzureWebJobsStorage_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=chinx7qn2bz5c4mdc;AccountKey=ZjXD8+goLbWNr2zVEytfYZsAgbj+KIhfSVqciuZZC78WiqaYE+1gOzZVrizphnxFFNGQjAm0z6y5CXzN7TNouA==;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureWebJobsStorage-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContosoAdsContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverx7qn2bz5c4mdc.database.windows.net,1433;Initial Catalog=SampleDB;User Id=chinzilla@sqlserverx7qn2bz5c4mdc;Password=Pa$$W0rd12345</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>