@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Hello World</h1>
    <p class="lead"></p>
    <ul class="listgroup">
        <li class="list">Connstring is @ViewBag.ConnString</li>
        <li class="list">Monkey is @ViewBag.Monkey</li>
    </ul>
</div>

