<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://websitex7qn2bz5c4mdc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <MSDeployServiceURL>websitex7qn2bz5c4mdc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>webSitex7qn2bz5c4mdc</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$webSitex7qn2bz5c4mdc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="ContosoAdsCommon.ContosoAdsContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sqlserverx7qn2bz5c4mdc.database.windows.net,1433;Initial Catalog=SampleDB;User ID=chinzilla@sqlserverx7qn2bz5c4mdc;Password=Pa$$W0rd12345" Name="Data Source=tcp:sqlserverx7qn2bz5c4mdc.database.windows.net,1433;Initial Catalog=SampleDB;User Id=chinzilla@sqlserverx7qn2bz5c4mdc;Password=Pa$$W0rd12345" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ContosoAdsCommon.ContosoAdsContext, ContosoAdsCommon" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContosoAdsCommon.ContosoAdsContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:sqlserverx7qn2bz5c4mdc.database.windows.net,1433;Initial Catalog=SampleDB;User Id=chinzilla@sqlserverx7qn2bz5c4mdc;Password=Pa$$W0rd12345</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ContosoAdsCommon.ContosoAdsContext" />
  </ItemGroup>
</Project>