<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>true</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>fbsea1outlook.onmicrosoft.com</ADDomain>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://chinzillatodosvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>chinzillatodosvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>chinzillatodosvc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$chinzillatodosvc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <ADAppIDUri>https://fbsea1outlook.onmicrosoft.com/WebApp-chinzillatodosvc.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>b61d1d08-3a52-4fc6-bb0e-265a73298166</ADClientAPPID>
    <ADClientPassword>IWoZQcxdiQE3uC8EoXJgJoT4f7TGLt4nOkj+WNNQkZQ=</ADClientPassword>
    <ADReplyUrl>https://chinzillatodosvc.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>f362f349-d08c-4799-b875-3b3375ac05ea</ADTenantId>
    <ADPostLogoutRedirectUri />
  </PropertyGroup>
</Project>